
#Code coverage
**.gcov
**.gcno

#VSCode
**/peda-session*
**/.vs/

#Binaries
**/bin/
**/bin-int/

#Visual Studio
**/*.sln
**/*.vcxproj
**/*.vcxproj.user
**/*.vcxproj.filters

#make
**/.project
**/.workspace
**/Makefile



**/*.kdev4
**/premake*

Test/test/
TestFile.txt
**/test.txt

