

**/peda-session*
**/.vs/
**/bin/
**/bin-int/

**/*.sln
**/*.vcxproj
**/*.vcxproj.user
**/*.vcxproj.filters

#make
**/.project
**/.workspace
**/Makefile



**/*.kdev4
**/premake*

Test/test/
TestFile.txt
